extends layout

block content
  h1= title
  p Welcome to #{title}
  
  #estiloUno
    b Users
    #users     
  #estiloDos
    #conversation
    input(type='text', id='data')
    input(type='button', value='enviar', id='datasend')
  
