doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(type='text/javascript')
      var socket = io.connect('http://192.168.1.182:8080');
      socket.on('connect', function(){
        socket.emit('adduser', prompt("Como te llamas?"));
      });
      socket.on('updatechat', function(username, data){
        $('#conversation').append(username+': '+data+'.');
      });
      socket.on('updateusers', function(data){
        $('#users').empty();
        $.each(data, function(key, value){
          $('#users').append('-> '+ key);
        });
      });
      $(function(){
        $('#datasend').click(function(){
          var message = $('#data').val();
          $('#data').val('');
          socket.emit('sendchat', message);
        });
        $('#data').keypress(function(e){
          if(e.which == 13){
            $(this).blur();
            $('#datasend').focus().click();
          }
        });
      });
  body
    block content
